.texto3{
  color: rgb(0, 0, 0);
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

.cont_contadores{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 600px;
  height: 460px;
}

.cont_contador{
  display: flex;
  padding: 5px;
  width: 500px;
  height: 30px;
  border-radius: 12px;
  background-color: white;
}

.botonmasmenos{
  border-radius: 5px;
  font-size: 18px;
  height: 30px;
  width: 30px;
  margin-left: 50px;
  text-align: center;
  color: #00aa17;
  background: #ffffff;
  border: 2px solid;
  border-color: #00aa17;
}

.numero{
  font-size: 18px;
  height: 30px;
  width: 30px;
  margin-left: 50px;
  text-align: center;
}

.botoneliminar{
  font-size: 18px;
  height: 30px;
  width: 80px;
  margin-left: 100px;
  text-align: center;
  box-shadow: currentColor; 
  color: #00aa17;
  background: #ffffff;
  border: 2px solid;
  border-color: #00aa17;
}