.app {
  text-align: center;
}

.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.contenedor{
  display: flex;
  align-items: space-;
  margin: 10px;
  padding: 10px;
  width: 1000px;
  height: 500px;
  background-color: rgb(192, 192, 192);
}

.cont_boton{
  display: flex;
  flex-direction: column;
  align-items: space-;
  margin: 10px;
  padding: 10px;
  padding-bottom: 20px;
  width: 400px;
  height: 450px;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
}

.texto{
  color: white;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  font-size: 30px;
}

.texto2{
  color: white;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

.boton{
  margin-top: 30px;
  padding: 10px;
  border-radius: 12px;
  font-size: 18px;
}